{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block body %}



<div class="micro" id="micro">
<img src="/static/styles/Images&Gifs/micro.jpg" class="micropic">
<a href="/home"><img src="/static/styles/Images&Gifs/homeico.png" class="homemini"></a>
<h1>MICRO</h1>
</div>
<div class="suv" id="suv">
<img src="/static/styles/Images&Gifs/suv.jpg" class="suvpic">
<a href="#"><img src="/static/styles/Images&Gifs/homeico.png" class="homemini"></a>
<h1>SUV</h1>
</div>
<div class="sedan" id="sedan">
<img src="/static/styles/Images&Gifs/sedan.jpg" class="sedanpic">
<a href="#"><img src="/static/styles/Images&Gifs/homeico.png" class="homemini"></a>
<h1>SEDAN</h1>
</div>
<div class="limosine" id="limosine">
<img src="/static/styles/Images&Gifs/limo.jpg" class="limosinepic">
<a href="#"><img src="/static/styles/Images&Gifs/homeico.png" class="homemini"></a>
<h1>LIMOUSINE</h1>
</div>


{% endblock body %}